#search-bar {
  /* border: 1px solid; */
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

#search {
  border: 1px solid #e7e7e7;
  width: 320px;
  padding: 6px 15px;
  border-radius: 8px;
  color: #adadad;
  background-color: #f8f8f8;
}
.s-icon {
  /* border: 1px solid; */
  position: relative;
  right: 28px;
  top: 2px;
  color: #adadad;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #search {
    width: 90%;
  }

  #search::-webkit-input-placeholder {
    color: transparent;
  }

  .s-icon {
    /* border: 1px solid; */
    position: relative;
    right: 28px;
    top: 2px;
    color: #adadad;
  }
}
