@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"); */

#nav-container {
  /* border: 1px solid; */
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

#navbar {
  /* border: 1px solid; */
  width: 75%;
  background-color: #ffffff;
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#nav-logo {
  /* border: 1px solid; */
  display: flex;
  width: 17%;
  height: 55%;
}

.hamburger {
  display: none;
}

#nav-location {
  display: flex;
}
.nav-section {
  /* border: 1px solid; */
  display: flex;
  gap: 8px;
}

.nav-sec-btn {
  cursor: pointer;
  font-size: 0.9rem;
}

.nav-sec-btn:hover {
  color: #d11243;
}

.overflow {
  /* border: 1px solid red; */
  overflow-y: scroll;
  height: 510px;
  padding: 20px;
  margin-top: 10px;
  margin-left: -20px;
}
.overflow::-webkit-scrollbar {
  /* display: none; */
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #navbar {
    /* border: 1px solid green; */
    width: 100%;
  }

  #nav-container {
    width: 100%;
    background-color: red;
  }
  .nav-section {
    border: 1px solid;
    display: none;
  }
  .hamburger {
    display: flex;
  }
  #nav-logo {
    /* border: 1px solid; */
    display: none;
  }

  #nav-location {
    display: none;
  }
}
