.navlogo {
  width: 30%;
}

.btnColor {
  font-size: 13px;
  padding-bottom: 4px;
}
.btnColor:hover {
  color: #d11243;
}

.login {
  /* display: "flex"; */
  /* width: 200px; */
  justify-content: space-between;
}
.loginText {
  font-size: 13px;
  padding-bottom: 4px;
}
.loginText:hover {
  color: #d11243;
  cursor: pointer;
}
